<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderLust</title>
</head>
<body>
    <h1>Show all listings</h1>
    <ul>
        <li><%= showListings.title %></li>
        <li><%= showListings.description %></li>
        <li> &#8377; <%= showListings.price.toLocaleString('en-IN') %></li>
        <li><%= showListings.location %></li>
        <li><%= showListings.country %></li>
    </ul>
    <form method="get" action="/listings/<%=showListings._id%>/edit">
        <button>Edit listing</button>
    </form>
    <br><br>
     <form method="post" action="/listings/<%=showListings._id%>?_method=DELETE">
        <button>Delete listing</button>
    </form>
</body>
</html>